@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Kodchasan:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


li.active {
    position: relative;
    font-weight: 600;
}

li.active::after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 45%;
    right: 50%;
    width: 8px;
    height: 8px;
    background: #4E70A9;
    border-radius: 50%;
}


.bgElement {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url('/images/bg-1.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.bgElement2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url('/images/bg-2.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.dropdown {
    position: relative;
}

.dropdown::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: url('/images/dropdown.svg') no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    z-index: 1;
}


@media screen and (max-width: 1200px) {
    .topBannerImg {
        width: 500px !important;
        height: 400px !important;
    }
}